input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"] {
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid rgb(255, 0, 0);
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -3px;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: rgb(250, 225, 4);
}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.3em;
    right: -2px;
    /* top: -0.2
    em; */
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
}

input[type="checkbox"]:disabled {
    border-color: black;
    background: #dddddd;
    color: gray;
}